.button {
  display: inline-block;
  background: var(--third-gradient);
  padding: .75rem 1.8rem;
  border-radius: 4rem;
  color: var(--white-color);
}

.button, .button__link {
  font-weight: var(--font-medium);
}

.button__link {
  display: flex;
  align-items: center;
  column-gap: .25rem;
}